.sfondo {
  height: 915px;
  background-color: #09c;
  background-image: url(./sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.prima-parte {
  width: 382px;
  height: 30vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    11deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(42, 42, 107, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 415px;
}
.logo {
  text-align: center;
}
.primo-paragrafo {
  text-align: center;
  color: white;
}
.primo-main {
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 20px;
}
h1 {
  font-weight: 900;
  font-size: 2em;
}
#ciao {
  margin-top: 23px;
}
#spiegazione {
  text-align: left;
  margin-top: 20px;
}
#sbarra {
  text-align: left;
  margin-top: 10px;
}
.locate {
  text-align: left;
  margin-top: 5px;
  padding-bottom: 7px;
}
li {
  word-spacing: 1%;
  margin-top: 3px;
  padding-bottom: 6px;
}
p {
  text-align: left;
}
ol {
  text-align: left;
}
#sotto {
  margin-top: 8px;
}
table {
  margin-top: 15px;
}
#mia {
  width: 350px;
}
hr {
  border: solid;
  border-color: blue;
  width: 346px;
}
iframe {
  border-radius: 15%;
}
